data/faiss_index/*.faiss filter=lfs diff=lfs merge=lfs -text
data/faiss_index/*.pkl filter=lfs diff=lfs merge=lfs -text
data/embedding_batch/*.jsonl filter=lfs diff=lfs merge=lfs -text
data/*.zip filter=lfs diff=lfs merge=lfs -text
